[submodule "Libs/LibSerialize"]
	path = Libs/LibSerialize
	url = https://github.com/rossnichols/LibSerialize.git
[submodule "Libs/LibDeflate"]
	path = Libs/LibDeflate
	url = https://github.com/SafeteeWoW/LibDeflate.git
